---
export const partial = true;
import A from '../../../components/A.astro';
---
<title>Doodles - Joseph Abell</title>
<div class='container'>
    <p>One of the things I really loved about the internet I grew up with with the whimsy of it all. Nowadays, everything is polished, edges sanded off, and a little bit boring. So here's a few fun experiments.</p>

    <nav>
        <ul>
            <li> 
                <A href='/doodles/themes'>Themes</A>
            </li>
            <li>
                <a href='/doodles/sketches'>Sketches</a>
            </li>
            <li>
                <A href='/doodles/meds'>Medicine Tracker</A>
            </li>
        <ul>
    </nav>
</div>