---
import Main from '../layout/main.astro';
import Content from './api/add-hymn.astro';
---
<Main title='Add Hymn - Joseph Abell' description="Add hymn">
    <main id="main">
        <Content />
    </main>
</Main>
