---
import Main from '../layout/main.astro';
import Content from './api/add-meds.astro';
---
<Main title='Add Meds - Joseph Abell' description="Add medicine my medicine tracker">
    <main id="main">
        <Content />
    </main>
</Main>
