---
import Main from '../layout/main.astro';
import Content from './api/cv.astro';
---
<Main title='CV - Joseph Abell' description="CV for Joseph Abell, a Lead Software Engineer">
    <main id="main">
        <Content />
    </main>
</Main>
