---
import Main from '../layout/main.astro';
import Content from './api/hymns.astro';
---
<Main title='Hymns - Joseph Abell' description="Hymns - Joseph Abell">
    <main id="main">
        <Content />
    </main>
</Main>
