---
import Main from '../layout/main.astro';
import Content from './api/index.astro';
---
<Main title='Joseph Abell' description="CV and Code Doodles from Joseph Abell">
    <main id="main">
        <Content />
    </main>
</Main>
