---
import supabase from '../../db.ts';
import A from '../../components/A.astro'
export const partial = true;

const { data, error } = await supabase
    .from('hymns')
    .select()
    .order('id', { ascending: true });

if (error) {
    console.error('Error fetching medicine intake:', error);
}
---
<div class='container'>
    <title>Hymns - Joseph Abell</title>
    
    <h1>Hymns</h1>
    <p>
        I'm learning how to play the church organ, so I can give the congregation some live music.
    </p>

    <table>
        <thead>
            <tr>
                <td>Hymn No.</td>
                <th>Title</th>
                <th>First Line</th>
                <th>Melody</th>
                <th>Bass</th>
                <th>Both Hands</th>
                <th>Confident to play</th>
            </tr>
        </thead>
        <tbody>
            {data?.map(i => (
                <tr>
                    <td>{i.id}</td>
                    <td>{i.title}</td>
                    <td>{i.first_line}</td>
                    <td>
                        {i.melody === 'not_started' && (<div class="red_circle"></div>)}
                        {i.melody === 'not_learned' && (<div class="red_circle"></div>)}
                        {i.melody === 'learning' && (<div class="yellow_circle"></div>)}
                        {i.melody === 'learned' && (<div class="green_circle"></div>)}
                    </td>
                    <td>
                        {i.bass === 'not_started' && (<div class="red_circle"></div>)}
                        {i.bass === 'not_learned' && (<div class="red_circle"></div>)}
                        {i.bass === 'learning' && (<div class="yellow_circle"></div>)}
                        {i.bass === 'learned' && (<div class="green_circle"></div>)}</td>
                    <td>
                        {i.both_hands === 'not_started' && (<div class="red_circle"></div>)}
                        {i.both_hands === 'not_learned' && (<div class="red_circle"></div>)}
                        {i.both_hands === 'learning' && (<div class="yellow_circle"></div>)}
                        {i.both_hands === 'learned' && (<div class="green_circle"></div>)}
                    </td>
                    <td>
                        {i.confident === false && (<div class="red_circle"></div>)}
                        {i.confident === true && (<div class="green_circle"></div>)}
                    </td>
                </tr>
            ))}
        </tbody>
    </table>

    <A href="/add-hymn" apiHref="/api/add-hymn">Add Hymn</A>
</div>

<style>
    table {
        border-collapse: collapse;
    }
    td, th {
        border: 1px solid #999;
        padding: 0.5rem;
    }
    .red_circle, .yellow_circle, .green_circle {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 1px solid grey;
    }
    
    .red_circle {
        background: red;
    }

    .yellow_circle {
        background: #ffff00;
    }

    .green_circle {
        background: #00ff00;
    }
</style>