---
export const partial = true;
import A from '../../components/A.astro';
---
<div class='container'>
    <title>Joseph Abell</title>
    <p>
        I'm Joseph Abell, an Engineering Lead for Tesco Bank. I'm originally from York, England,
        but I now live in Newcastle. I spend my time learning the pipe organ, singing, and
        playing with my three kids.
    </p>

    <p>Life is full. just the way I like it.</p>

    <nav>
        <ul class='ctas'>
            <li>
                <A href="/cv" theme='cta'>CV</A>
            </li>
            <li>
                <A href="/doodles/themes" theme='cta'>Themes</A>
            </li>
            <li>
                <A href="/doodles" theme='cta'>Doodles</A>
            </li>
        </ul>
    </nav>
</div>
