---
import A from './A.astro';
---
<header>
    <div class="container">
        <nav class="primary">
            <ul>
                <li>
                    <A href="/" apiHref="/api" >JA</a>
                </li>
            </ul>
            <ul>
                <li>
                    <A href="/cv" >CV</A>
                </li>
                <li>
                    <A href='/doodles'>Doodles</A>
                </li>
            </ul>
        </nav>
    </div>
</header>
