---
import Main from '../../layout/main.astro';
import Content from '../api/doodles/index.astro';
---
<Main title='Doodles - Joseph Abell'>
    <main id="main">
        <Content />
    </main>
</Main>
