---
import Main from '../../layout/main.astro';
import Content from '../api/doodles/meds.astro';
---
<Main title='Medicine Tracker - Joseph Abell'>
    <main id="main">
        <Content />
    </main>
</Main>
