---
import Main from '../../layout/main.astro';
import Content from '../api/doodles/sketches.astro';
---
<Main title='Code Sketches - Joseph Abell'>
    <main id="main">
        <Content />
    </main>
</Main>
