---
import Main from '../../layout/main.astro';
import Content from '../api/doodles/themes.astro';
---
<Main title='Themes - Joseph Abell' description="A test to see whether I could build up theming for my website using limited client side js">
    <main id="main">
        <Content />
    </main>
</Main>
